<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Anmelde Seite</mat-toolbar>
        <form fxLayoutAlign="stretch"  fxLayout="column" class="main-form">
            <mat-form-field >
              <input matInput placeholder="Benutzername" >
            </mat-form-field>
          
            <mat-form-field >
                <input matInput type="passwort" placeholder="Passwort" >
              </mat-form-field>
              <button mat-raised-button type="submit">Anmelden</button>
          </form>
          
    </mat-card>
</div>
